body{
    font-family:Arial, sans-serif;
    background-color: #f0f0f0;
}

.container{
    max-width: 400px;             /*Largura máxima*/
    margin: 100px auto;          /*Margem*/
    padding: 20px;              /*Preenchimento*/
    background-color: #fff;  /*Cor de fundo*/
    border-radius:5px;        /*Borda arrendoda*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /*sombra*/
}
h2{
    text-align: center; /*Alinhando o texto no centro*/
    margin-bottom: 20px; /*Adicionando margem inferior*/
}

label{ /*define o estilo dos rótulos dos campos de imput*/
    display: block;
    margin-bottom: 5px; /*Adicionando margem inferior*/
}

input[type ="text"],
input[type="password"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    width:100%;
    padding: 10px; /*Preenchimento*/
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer
}

